NET "clk" LOC=AC18 			 | IOSTANDARD=LVCMOS18;
NET "seg_clk" LOC = M24  | IOSTANDARD = LVCMOS33;
NET "seg_clrn" LOC = M20  | IOSTANDARD = LVCMOS33;
NET "seg_sout"  LOC = L24  | IOSTANDARD = LVCMOS33;
NET "SEG_PEN" LOC = R18  | IOSTANDARD = LVCMOS33;
NET "sw[15]" LOC = AF10  | IOSTANDARD = LVCMOS15;
NET "sw[14]" LOC = AF13  | IOSTANDARD = LVCMOS15;
NET "sw[13]" LOC = AE13  | IOSTANDARD = LVCMOS15;
NET "sw[12]" LOC = AF8   | IOSTANDARD = LVCMOS15;
NET "sw[11]" LOC = AE8   | IOSTANDARD = LVCMOS15;
NET "sw[10]" LOC = AF12  | IOSTANDARD = LVCMOS15;
NET "sw[9]" LOC = AE12  | IOSTANDARD = LVCMOS15;
NET "sw[8]" LOC = AE10  | IOSTANDARD = LVCMOS15;
NET "sw[7]" LOC = AD10  | IOSTANDARD = LVCMOS15;
NET "sw[6]" LOC = AD11  | IOSTANDARD = LVCMOS15;
NET "sw[5]" LOC = Y12   | IOSTANDARD = LVCMOS15;
NET "sw[4]" LOC = Y13   | IOSTANDARD = LVCMOS15;
NET "sw[3]" LOC = AA12  | IOSTANDARD = LVCMOS15;
NET "sw[2]" LOC = AA13  | IOSTANDARD = LVCMOS15;
NET "sw[1]" LOC = AB10  | IOSTANDARD = LVCMOS15;
NET "sw[0]" LOC = AA10  | IOSTANDARD = LVCMOS15;
NET "K_ROW" LOC = V17  | IOSTANDARD = LVCMOS18 ;
NET "btn" LOC = V18 | IOSTANDARD = LVCMOS18 ;